/* root */
:root {
    /* font-size */
    --size-xsm: 1.4rem;
    --size-sm: 1.6rem;
    --size-middle: 2.0rem;
    --size-large: 2.6rem;
    --size-big: 3.2rem;
    --size-xbig: 5.2rem;
    --size-2xbig: 12rem;
    --size-3xbig: 15rem;
    --size-4xbig: 20rem;

    /* weight */
    --weight-l: 300;
    --weight-r: 500;
    --weight-b: 700;
    --weight-bk: 900;
}

/*main start*/
/*visual start*/
.visual {
    position: sticky;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(100vw - (100vw - 100%));
    z-index: -1;
    padding-bottom: 8.33vw;
}

.video {
    position: relative;
}

.visual video {
    display: block;
    width: calc(100vw - (100vw - 100%));
    object-fit: cover;
}

.video_txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8vw;
    font-weight: var(--weight-r);
    user-select: none;
    font-family: "Playfair Display", serif;
    white-space: nowrap;
    color: #000;
}

/*about_me start*/
.sec {
    padding: 0 40px 10.416vw 40px;
    background-color: #000;

}

.about_me_sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 10.416vw
}

.txt_box {
    padding-top: 4.17vw;
    font-size: 5vw;
    font-weight: var(--weight-b);
    user-select: none;
    text-align: center;
    z-index: 10;

}


.about_me_sec .txt_box h1 {
    animation: scale 6s ease-in-out infinite;
}

@keyframes scale {
    0% {}

    50% {
        transform: scale(1.1);

    }

    100% {}
}

.about_me_sec .thumbnail img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: -1;
}

.about_me_sec h1:first-child {
    margin-bottom: 2.66vw;
}

.astro-G26LNY4H {
    position: absolute;
    border: solid 3px #fff;
    box-sizing: border-box;
    height: 70px;
    transform-origin: 0px 0px !important;
    border-radius: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-size: var(--size-large);
    font-weight: var(--weight-b);
    color: #fff;
    user-select: none;
    transition: color .3s;

    --angle: 0deg;
    transform: rotate(var(--angle));
    --delay: 0s;
}

.animate_50 {
    border: 0;
    animation: fadein 11s ease-in-out infinite;
}

.animate_50:hover>div {
    color: var(--color);
    border: solid 3px var(--color);
}


.animate_250 {
    border: 0;
    animation: fadein 9s ease-in-out infinite;
}

.animate_250:hover>div {
    color: var(--color);
    border: solid 3px var(--color);
}

.animate_350 {
    border: 0;
    animation: fadein 6s ease-in-out infinite;
}

.animate_350:hover>div {
    color: var(--color);
    border: solid 3px var(--color);
}

.animate_150 {
    border: 0;
    animation: fadein 8s ease-in-out infinite;
}

.animate_150:hover>div {
    color: var(--color);
    border: solid 3px var(--color);
}

@keyframes fadein {
    0% {
        transform: rotate(var(--angle)) translatey(0px);
    }

    50% {
        transform: rotate(var(--angle)) translatey(-15px);
    }

    100% {

        transform: rotate(var(--angle)) translatey(0px);
    }
}


.about_me_sec .container {
    position: relative;
    overflow: hidden;
    width: 1420px;
    height: 300px;
    margin: 4.17vw 0 0 0;
    z-index: 10;
}

/*work_group start*/
.work_tit {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 4.17vw;
    font-size: 12vw;
    font-weight: var(--weight-b);
    user-select: none;
    text-align: center;
    z-index: 1;
    white-space: nowrap;
    display: flex;
    justify-content: center;
}

.work_wrap {
    display: flex;
    align-items: end;
    flex-direction: column;

}

.work_list {
    width: 57%;
    /*이걸로 글씨 간격과 맞춰서 이쁘게 조절*/
    z-index: 5;
    position: relative;
}

.work_box {
    position: relative;
    width: 100%;
    background-color: #000;
}

.shape_img {
    position: absolute;
}

.shape01 {
    top: -5%;
    left: -7%;
    max-width: 200px;
}

.shape02 {
    bottom: 5%;
    right: -7%;
    max-width: 200px;
}

.shape03 {
    top: -3%;
    left: -20%;
    max-width: 400px;
    z-index: -1;
}

.shape04 {
    top: -6%;
    right: -5%;
    max-width: 260px;
}

.shape05 {
    top: 8%;
    right: -30%;
    max-width: 400px;
}

.shape06 {
    bottom: 6%;
    left: -3%;
    max-width: 180px;
}

.shape07 {
    bottom: 35%;
    right: -15%;
    transform: rotate(35deg);
    max-width: 420px;
}

.shape_img img {
    width: 100%;
}

.work_box a {
    width: 100%;
}

.work_box .img img {
    width: 100%;
}

.work_txt {
    padding: 50px 0;
    text-align: left;
    font-size: 3vw;
    line-height: 3.4vw;
    text-align: left;
    font-family: "Cinzel", serif;
    user-select: none;
}

.work_area .img>img {
    object-fit: cover;
    width: 100%;
}

.txt_holder {
    width: 40%;
    padding-bottom: 50px;
    padding-left: 2.3vw;
    font-size: var(--size-sm);
    position: absolute;
    top: auto;
    bottom: 0;
}

.txt_holder p {
    margin-bottom: 5px;
}

.work_txt_box {
    z-index: 2;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    display: flex;
    position: sticky;
    top: 0;
    overflow: hidden;
}

.reverse .work_wrap {
    align-items: start;
}

.reverse .txt_holder {
    right: 0;
    text-align: right;
}

.reverse .work_txt {
    text-align: right;
}

/*center marquee start*/
.center_marquee {
    background-color: #000;
    font-size: 3.3vw;
    user-select: none;
    font-family: 'Druk Wide Trial', sans-serif;
    font-weight: var(--weight-b);
    padding-bottom: 10.416vw;

}

.marquee_head {
    display: flex;
    justify-content: center;
    padding: 5.208vw 0;
    max-width: 950px;
    margin: 0 auto;
}

.marquee_head img {
    width: 100%;
}

.marquee_list {
    position: relative;
}

.marquee_keyward {
    position: absolute;
    top: 0;
    z-index: 10;
    background-color: #000;
    padding: 0 1vw 2.604vw 1vw;
}

.first {
    left: 0;
}

.second {
    left: 50%;
    transform: translate(-50%);
}

.third {
    right: 0;
}

.marquee_box marquee {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    padding-bottom: 2.604vw;
}

.marquee_box .marquee_3 {
    padding-bottom: 5.208vw;
}

.marquee_list:first-child:hover marquee,
.marquee_list:first-child:hover .marquee_keyward {
    color: #00ff04;
    -webkit-text-stroke: 0px;
}

.marquee_list:nth-child(2):hover marquee,
.marquee_list:nth-child(2):hover .marquee_keyward {
    color: #760fec;
    -webkit-text-stroke: 0px;
}

.marquee_list:last-child:hover marquee,
.marquee_list:last-child:hover .marquee_keyward {
    color: #a10202;
    -webkit-text-stroke: 0px;
}

/* sub_work start*/
.sub_work_sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    background-color: #101010;
}

.sub_work_box {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #101010;
}

.sub_work_list {
    position: relative;
    padding: 190px;
}

.sub_work_tit {
    font-size: 15.625vw;
    font-weight: var(--weight-b);
    line-height: 22.135vw;
}

.sub_work_list .img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;

}

.sub_work_list img {
    width: 100%;
}

.sub_work_list .more_view {
    position: absolute;
    right: 0;
    bottom: 10%;
    font-size: 4.17vw;
}


.sub_third .sub_work_tit {
    font-size: 10.625vw;
}